
.footer-main {
	background-color: #41444B;
	padding: px;
}

.footer-head {
	padding: 50px;
	display: flex;
	justify-content: center;
	gap: 100px;
	color: white;
}

.footer-foot {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	color: white;
	padding-bottom: 10px;
}

