.navbar-main {
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	font-size: 20px;
	background-color: #FF7B54;
	font-family: 'Poppins';
	
}

.navbar-brand {
	text-decoration: none;
	display: flex;
	color: white;
}

.navlink {
	text-decoration: none;
	display: inline-flex;
	margin-left: 20px;
	color: white;
	font-family: 'Poppins';
}

.navlink {
  color: white;
  position: relative;
  text-decoration: none;
}

.navlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #001253;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navlink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.navbar-brand {
  position: relative;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #001253;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.navbar-brand:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}