.checkout-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 50px;
	padding-bottom: 30px;
}

.checkout-product img {
	width: 500px;
}

.checkout-product button {
	width: 10%;
	height: 30px;
	border-radius: 15px;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	border-style: none;
}

button:hover {

  background-color: #f00;
  color: #fff;
}
