.complete-order {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding-bottom: 20px;
}

.complete-order p {
	font-size: 50px;
}

.complete-order img {
	width: 30%;
}

.complete-order button {
	width: 10%;
	border-radius: 15px;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	margin-top: 10px;
	border-style: none;
}

button:hover {

  background-color: #f00;
  color: #fff;
}
