
.home-head button {
	margin-top: 15px;
	width: 20%;
	border-radius: 15px;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: none;
	border-style: none;
}

.home-head {
	background-image: url("https://images.pexels.com/photos/7140624/pexels-photo-7140624.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: none;
	background-size: cover;
	height: 100vh;

}

.home-body {
	color: white;
	font-size: 25px;
	width: 40%;
	padding-top: 60px;
	padding-left: 50px;
	color: white;
}

.p {
	font-family: 'Poppins';
}

.home-body h3 {
	color: #F97B22;
	margin-bottom: 20px;
}