@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.login-head {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

.login-forms button {
	margin-top: 15px;
	width: 50%;
	height: 30px;
	border-radius: 15px;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	border-style: none;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
	margin-bottom: 180px;
}

.login-body {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	padding-top: 60px;
}

.button-body {
	margin-top: 15px;
	width: 30%;
	border-radius: 15px;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;

}

.login-body p {
	width: 350px;
}

.login-head h1{
	font-family: 'Montserrat', sans-serif;
}

.input-email {
	margin-bottom: 15px;
}

.login-body h1 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}

button:hover {

  background-color: #f00;
  color: #fff;
}

.login-body button {
	border-style: none;
	width: 30%;
}






