.display-forms {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 500px;
	margin-top: 50px;
}

.display-forms button {
	margin-top: 15px;
	width: 100%;
	height: 30px;
	border-radius: 15px;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	border-style: none;
	text-align: center;
}

button:hover {

  background-color: #f00;
  color: #fff;
}