.h1-product {
	padding-left: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 30px;
}

hr {
	width: 80%;
	margin-left: 10%;
}
.card-head {
	width: 18rem;
	
}

.card-title {
	font-size: 25px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	padding: 0 200px;
	margin-left: 100px;
	margin-top: 50px;
	justify-content: center;
	font-family: cursive;
	
}

.card-image {
	width: 90%;
	height: 30vh;
	object-fit: contain;
	
}

.card-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

h1 {
	font-family: 'Poppins';
}

.product-whole {
	padding-bottom: 100px;
}

