.update-forms {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-left: 500px;
	margin-top: 50px;
}

.archive-button {
	margin-left: 495px;
	margin-top: 20px;
	width: 30%;
	border-radius: 15px;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	border-style: none;
}

.update-forms button {
	width: 50%;
	margin-left: 50px;
	border-radius: 15px;
	height: 30px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	border-style: none;
}

button:hover {

  background-color: #f00;
  color: #fff;
}
