.product-single {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	gap: 20px;
	padding-bottom: 30px;
}

.product-single-img {
	width: 400px;
}

.product-single button {
	margin-top: 15px;
	width: 10%;
	border-radius: 15px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	border-style: none;
}

button:hover {

  background-color: #f00;
  color: #fff;
}

.description-single {
	font-size: 20px;
}