.form-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	padding-bottom: 50px;
}

.form-text p {
	margin-top: 10px;
}

.form-text form {
	margin-top: 20px;
}

.form-text h1{
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;
}

.input-register {
	margin-bottom: 20px;
}

.regbot {
	margin-top: 15px;
	width: 50%;
	height: 30px;
	border-radius: 15px;
	background-color: #FF4B2B;
	color: white;
	border-color: #e7e7e7;
	font-family: 'Montserrat', sans-serif;
	border-style: none;
}